
/* =============================================================================================
 * ELEMENTS 
 * ============================================================================================= */

.BlackFont a
{
    color:#000000;
}
.blackFont a:link { color:#000000; }
.blackFont a:visited { color:#000000; }
.blackFont a:hover { color:#3A83C2; }
.blackFont a:active { color:#000000; }

.Right {
    text-align:right;
}

.Left {
    text-align: left;
}

.fonte {
    font-family:"Arial";
    font-size:12px;
    color:#333333;
}


/* =============================================================================================
 * Controls
 * ============================================================================================= */

.textbox  {
  padding: 2px;
  -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
  -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
  box-shadow: inset 2px 2px 2px 0px #dddddd;
}

.Multiline 
{
    height: 50px;
    width: 350px;
    vertical-align: top;
    text-align:left;
}

.Field450px {
    width:450px;
}

.t100percent {
    width:100%;
}

.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";    
    float: right; 
    color: #444444; 
}
.panel-heading a.collapsed:after {
    content: "\e080";
}