body
{
font-family:helvetica;
font-size=15px;
}
#header
{

}
#Container
{
clear:both;
float:left;
width:100%;
}
#LeftSideMenu
{
float:left;
width:20%;
}
#Content
{
padding-left:3%;
padding-right:3%;
float:left;
width:66%;
}
#RightSideMenu
{
float:left;
width:80%;
}
#ContentTop
{
display:inline;
margin-bottom:40px;
}
#ContentBot
{
overflow:auto;
width:100%;
}

.TableCont{
clear:both;
}
.TableCont input{
clear:both;
}